<p class="menu">
| <%= link_to "Modify", edit_account_path(session[:account_id]) %></td>
| <%= link_to "Skills", skills_account_path(session[:account_id]) %></td>
| <%= link_to "Portfolio", portfolio_account_path(session[:account_id]) %></td>
| <%= link_to "Materials", assets_account_path(session[:account_id]) %></td>
| <%= link_to "Balance Sheet", wallet_account_path(session[:account_id]) %></td>
|
</p>
