<h1>New Account</h1>

<div class="itemdata">
<table>
<%= form_for(@account) do |f| %>
<%= f.error_messages %>
<tr>
	<th>User Name</th>
	<td><%= f.text_field :username %></td>
</tr>
<tr>
	<th>E-Mail</th>
	<td><%= f.text_field :email %></td>
</tr>
<tr>
	<th>Password</th>
	<td><%= f.password_field :password %></td>
</tr>
</table>
<p><%= f.submit "Create" %></p>
<% end %>
The email address is used ONLY when need to reset your password.
</div>
