<h1><%= @account.username %></h1>

<%= render :partial=>'menu' %>

<div class="itemdata">
<table>
<tr>
	<th>User Name</th>
	<td><%= @account.username %></td>
</tr>
<tr>
	<th>E-Mail</th>
	<td><%= @account.email %></td>
</tr>
<tr>
	<th>EVE User ID</th>
	<td><%= @account.eve_id %></td>
</tr>
<tr>
	<th>API Key</th>
	<td>[Redacted]</td>
</tr>
</table>
</div>
